@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 768px) {
 img { 
 		max-width:100%;
		height:auto;
	  
	 }
 
 
div#header{
	background-color: #FF9;
	}
	
button#search{
	border: none;
	background-color:#FF9;
	}	

div#title{
	background-color: #FF9;
	font-size: 100%;
	text-align: center;
	
		}	


	
div#lookup{
	display: none;
	text-align: center;
	
	}
 
 input.timkiem {
	 width: 70%;
	 	 
	 } 

div#timkiem{
	text-align: center;
	
	}	 
}